body {
    margin: 1em;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

.alert-info {
    background-color: #c8eaf5;
    padding: 1em 0;
    justify-content: center;
    display: flex;
}

.alert-info > a {
    text-decoration: none;
    color: black;
}

h1{
    display: flex;
    margin: auto;
    font-size: 2.5em;
}

.nav-links{
    padding: 0 0;
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.nav-links li{
    background-color: #cbc6c6;
    margin-bottom: .5em;
    padding: 1em;
}

.header-img{
    width: 100%;
}

img{
    width: 100%;
}

.sub-section{
    font-style: italic;
}

@media screen and (min-width:992px) {
    .hidden-on-desktop {
        display: none;
    }

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav-links {
        padding: 0 0;
        list-style-type: none;
        text-align: center;
        display: flex;
        flex-direction: row;
    }

    .nav-links li {
        background-color: white;
    }

    h1 {
        display: block;
        margin: 0;
    }

    footer {
        margin-top: 8em;
    }
}