body {
    margin: .5em;
    display: flex;
    flex-direction: column;
}

.alert-info {
    background-color: #c8eaf5;
    padding: 1em 0;
    justify-content: center;
    display: flex;
}
h1{
    display: flex;
    margin: auto;
}
nav{
    /*display: flex;*/
}

.nav-links{
    padding: 0 0;
    list-style-type: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}
.nav-links li{
    background-color: #cbc6c6;
   margin-bottom: .5em;
    padding: .5em;
}
.header-img{
  width: 100%;
}
img{
    width: 100%;
}
.main{
    font-family: sans-serif;
}
.sub-section{
    font-style: italic;
    font-family: sans-serif;
}